@page "/ModifyRecipe/{id:int}"
@using RecipeRevolutionBlazor.Models
@using RecipeRevolutionBlazor.Services.Recipes
@inject NavigationManager NavigationManager
@inject IRecipeService IRecipeService

<h3>Modyfikuj Przepis</h3>

<EditForm Model="@recipeDto" OnValidSubmit="UpdateRecipe">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Name">Name:</label>
        <InputText id="Name" @bind-Value="@recipeDto.Name" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.Name)" />
    </div>

    <div class="form-group">
        <label for="Description">Description:</label>
        <InputText id="Description" @bind-Value="@recipeDto.Description" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.Description)" />
    </div>

    <div class="form-group">
        <label for="Name">Instructions:</label>
        <InputText id="Instructions" @bind-Value="@recipeDto.Instructions" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.Instructions)" />
    </div>

    <div class="form-group">
        <label for="Name">PreparationTime:</label>
        <InputNumber id="PreparationTime" @bind-Value="@recipeDto.PreparationTime" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.PreparationTime)" />
    </div>

    <div class="form-group">
        <label for="Name">DifficultyLevel:</label>
        <InputText id="DifficultyLevel" @bind-Value="@recipeDto.DifficultyLevel" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.DifficultyLevel)" />
    </div>

    <div class="form-group">
        <label for="Name">Portions:</label>
        <InputNumber id="Portions" @bind-Value="@recipeDto.Portions" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.Portions)" />
    </div>

    <div class="form-group">
        <label for="Name">Portions:</label>
        <InputNumber id="Portions" @bind-Value="@recipeDto.Portions" class="form-control" />
        <ValidationMessage For="@(() => recipeDto.Portions)" />
    </div>

    <div>
        <label for="numericDropdown">Select a number:</label>
        <InputSelect id="numericDropdown" @bind-Value="recipeDto.CategoryId">
            @for (int i = 1; i <= 3; i++)
            {
                <option value="@i">@i</option>
            }
        </InputSelect>
        <p>Selected Number: @recipeDto.CategoryId</p>
    </div>

</EditForm>

<button class="btn btn-primary" @onclick="UpdateRecipe">Zapisz</button>
<a href="/Myrecipes" class="btn btn-secondary">Anuluj</a>

@code {
    [Parameter]
    public int Id { get; set; }
    private UpdateRecipeDto recipeDto = new UpdateRecipeDto();

    protected override async Task OnInitializedAsync()
    {
        await LoadRecipe();
    }

    private async Task LoadRecipe()
    {
        var response = await IRecipeService.GetById(Id);

        if (response != null)
        {
            recipeDto = new UpdateRecipeDto
                {
                    Name = response.Name,
                    Description = response.Description,
                    Instructions = response.Instructions,
                    PreparationTime = response.PreparationTime,
                    DifficultyLevel = response.DifficultyLevel,
                    Portions = response.Portions,
                    CategoryId = response.CategoryId
                };
        }
    }

    private async Task UpdateRecipe()
    {
        var zmienna = Id;
        await IRecipeService.Update(recipeDto,Id);
    }
}